::deep :where(a, button, input, select, textarea, summary, [tabindex]:not([tabindex="-1"])):focus-visible {
    outline: var(--strokeWidthThick) solid var(--colorStrokeFocus2);
    outline-offset: var(--spacingHorizontalXS);
}

@media (forced-colors: active) {
    ::deep :where(a, button, input, select, textarea, summary, [tabindex]:not([tabindex="-1"])):focus-visible {
        background: Canvas;
        border-color: Highlight;
        color: CanvasText;
        outline-color: Highlight;
    }
}
